# Python cache
__pycache__/
*.py[cod]

# Virtual environment
env/
venv/

# SQLite database
*.sqlite3

# VSCode settings (optional)
.vscode/

# Django migrations cache
**/migrations/*.py[cod]
!**/migrations/__init__.py

# Ignore large media files
*.mp4
*.mov
*.avi
*.webm


# Ignore large media files
*.mp4
*.mov
*.avi
*.webm


# Ignore videos
*.mp4
*.mov
*.mkv
*.webm

